USE [master]
GO
/****** Object:  Database [rn-challenge]    Script Date: 28/9/2023 07:35:49 ******/
CREATE DATABASE [rn-challenge]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rn-challenge', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\rn-challenge.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rn-challenge_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\rn-challenge_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rn-challenge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rn-challenge]
GO
/****** Object:  Table [dbo].[Plato]    Script Date: 28/9/2023 07:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plato](
	[Titulo] [text] NOT NULL,
	[HealthScore] [float] NOT NULL,
	[Vegano] [bit] NOT NULL,
	[Precio] [float] NOT NULL,
	[Descripcion] [text] NOT NULL,
	[Imagen] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
